<nav class="navbar justify-content-center justify-content-md-start w-100">
    <span class="navbar-brand logo mb-0">
        <img src="{{ asset('dist/images/logos/LogoGoyavee@0,25x.png') }}" alt="Logo">
    </span>
    <ul class="nav col-12 col-md-9 col-lg-8 offset-lg-1 justify-content-center justify-content-md-end">
        <li class="nav-item">
            <a class="nav-link " href="{{ path('app_register') }}" >
                Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">
                Sign in</a>
        </li>
    </ul>
</nav>