<div class="container-fluid search-mobile position-relative">
        <div class="container">
            <!-- Search bar - mobile device -->
            <form class=" row mx-0">
                <fieldset class="col-12 d-lg-none p-2 mt-3">
                    <div class="row">
                        <div class="col-12 col-md-7 mb-3 mb-md-0">
                            <input placeholder="Where ?" type="text" class="pin w-100">
                        </div>
                        <div class="col-12 col-md-5">
                            <input placeholder="When ?" type="text" class="datepicker w-100">
                        </div>
                    </div>
                </fieldset>
                <input type="submit" class="col-12 d-lg-none" value="Show me the way !" />
            </form>
        </div>
    </div>