{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<main class="container position-relative">
        <div class="card mt-5 mb-5">
            <div class="d-flex justify-content-center">
                <img src="image.jpg" class="profile_picture" alt="profile_picture">
            </div>
            <h5 class="text-center card-title">Update my profile</h5>
            <h6 class="text-center card-title">email@example.com</h6>
            <div class="card-body">
                <div class="col-md-10 col-lg-6 offset-lg-3 pb-4">
                    <div class="justify-content-center">
                        <p class="card-title text-center">Tell us more about yourself, your profil is only 25% complete: </p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width:40%"></div>
                        </div>
                    </div>
                </div>
                <form action="" method="POST">
                    <div class="form-row justify-content-center">
                        <label for="ImagesEventInput" class="pr-3 d-flex align-items-center m-0">Update my profile
                            picture:</label>
                        <div class="form-group col-md-4 col-lg-3 custom-file mr-1 mt-2">
                            <input type="file" class="custom-file-input" id="ImagesEventInput">
                            <label class="custom-file-label" for="ImagesEventInput">nameofpicture.jpg</label>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="form-group col-md-6">
                            <label for="updatePasswordInput">Password</label>
                            <input type="password" class="form-control" id="updatePasswordInput" placeholder="*****"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="updateConfirmPasswordInput">Confirm Password</label>
                            <input type="password" class="form-control" id="updateConfirmPasswordInput" placeholder="*****"
                                required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="updateUserNameInput">User name</label>
                            <input type="text" id="updateUserNameInput" class="form-control" placeholder="QueenB">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="updateFirstnameInput">Firstname</label>
                            <input type="text" class="form-control" id="updateFirstnameInput" placeholder="Jessica">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="updateAgeInput">Age</label>
                            <input type="text" class="form-control" id="updateAgeInput" placeholder="28">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="updateLanguagesInput">I speak</label>
                            <select class="form-control" id="updateLanguagesInput">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="updateAgeInput">I identiy as :</label>
                            <select class="form-control" id="updateLanguagesInput">
                                <option>Rather not say</option>
                                <option>Female</option>
                                <option>Male</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DescriptionEventInput">Fun facts about me :</label>
                        <textarea class="form-control" id="DescriptionEventInput" rows="3" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quisquam ab nisi voluptatibus praesentium laboriosam ullam voluptatem. Doloribus optio unde deserunt ipsam, excepturi cupiditate dolores animi quaerat nemo, maxime dolorum?"></textarea>
                    </div>
                    <div>
                        <p class="card-title">My interests :</p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="museum" id="updateInterest1">
                        <label class="form-check-label" for="updateInterest1">Museum</label>
                        <br>
                        <input class="form-check-input" type="checkbox" value="music" id="updateInterest2">
                        <label class="form-check-label" for="updateInterest2">Music</label>
                        <br>
                        <input class="form-check-input" type="checkbox" value="movie" id="updateInterest3">
                        <label class="form-check-label" for="updateInterest3">Movie</label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-orange mt-4 float-right">Update</button>
                </form>
            </div>
        </div>
</main>








    {# <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
